<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Toboolist</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">

      <!-- Header Section -->
      <header class="header bg-color">
        <img class="logo-header" src="img/logo.png" alt="" />
      </header>
      <!-- /Header Section -->

      <!-- Main Section -->
      <main class="main-section">
        <div class="container bg-color">
          <!-- Search Bar Section -->
          <div class="search-bar-section">
            <input
              class="text-form"
              type="search"
              placeholder="es: Fare la spesa..."
              v-model="taskText"
            />
            <input @click="handleAdd" class="btn-style" type="button" value="Add Task" />
            <select name="cars" id="cars" v-model="selectedValue">
                <option value="today">Today</option>
                <option value="next">Next</option>
            </select>
          </div>
          <!-- /Search Bar Section -->

          <hr class="hr-line" />

          <!-- List Section -->
          <div class="list-section">
            <ul>
              <!-- Previous Task -->
              <li>
                <!-- Task Title Section -->
                <span class="arrow-icon">&#11166;</span>
                <span class="task-section-font">Task Precedenti</span>
                <!-- /Task Title Section -->

                <!-- Innested List Section -->
                <ul class="innested-list">
                  <!-- Innested Item Section -->
                  <li class="innested-item" v-for="(curTask,index) in allTask[0].tasks">
                    <div class="task-content" @click="curTask.isDone = !curTask.isDone">
                      <img
                        class="task-icon"
                        :src="curTask.isDone ? curTask.stateImage = 'img/done.svg' : curTask.stateImage = 'img/not-done.svg'"
                        alt="done icon"
                      />
                      
                      <span :class="{'line-through': curTask.isDone}"> {{curTask.text}} </span>
                      <!-- <span class="editorial label">Editorial</span> -->
                    </div>
                    <button @click="removeTask(index,allTask[0])" id="removeBtn">
                        <img src="img/remove.png" alt="">
                    </button>
                  </li>
                  <!-- /Innested Item Section -->
                </ul>
                <!-- /Innested List Section -->
              </li>
              <!-- /Previous Task -->

              <!-- Today Task -->
              <li>
                <!-- Task Title Section -->
                <span class="arrow-icon">&#11166;</span>
                <span class="task-section-font">Oggi</span>
                <!-- /Task Title Section -->

                <ul>
                  <!-- Innested Item Section -->
                  <li class="innested-item" v-for="(curTask,index) in allTask[1].tasks">
                    <div class="task-content" @click="curTask.isDone = !curTask.isDone">
                      <img
                        class="task-icon"
                        :src="curTask.isDone ? curTask.stateImage = 'img/done.svg' : curTask.stateImage = 'img/not-done.svg'"
                        alt="done icon"
                      />
                      
                      <span :class="{'line-through': curTask.isDone}"> {{curTask.text}} </span>
                      <!-- <span class="editorial label">Editorial</span> -->
                    </div>
                    <button @click="removeTask(index,allTask[1])" id="removeBtn">
                        <img src="img/remove.png" alt="">
                    </button>
                  </li>
                  <!-- /Innested Item Section -->

                  
                </ul>
              </li>
              <!-- /Today Task -->

              <!-- Next Days Task -->
              <li>
                <!-- Task Title Section -->
                <span class="arrow-icon">&#11166;</span>
                <span class="task-section-font">Prossimi Giorni</span>
                <!-- /Task Title Section -->

                <ul>
                  <!-- Innested Item Section -->
                  <li class="innested-item" v-for="(curTask,index) in allTask[2].tasks">
                    <div class="task-content" @click="curTask.isDone = !curTask.isDone">
                      <img
                        class="task-icon"
                        :src="curTask.isDone ? curTask.stateImage = 'img/done.svg' : curTask.stateImage = 'img/not-done.svg'"
                        alt="done icon"
                      />
                      
                      <span :class="{'line-through': curTask.isDone}"> {{curTask.text}} </span>
                      <!-- <span class="editorial label">Editorial</span> -->
                    </div>
                    <button @click="removeTask(index,allTask[2])" id="removeBtn">
                        <img src="img/remove.png" alt="">
                    </button>
                  </li>
                  <!-- /Innested Item Section -->

                </ul>
              </li>
              <!-- /Next Days Task -->
            </ul>
          </div>
          <!-- /List Section -->
        </div>
      </main>
      <!-- /Main Section -->
    </div>

    <!-- My Script -->
    <script src="js/app.js"></script>
  </body>
</html>
